<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./donaciones.css">
    <title>Document</title>
</head>

<body>
    <div id="1" class="invisible">
        <ul>
            <li>Region: Tarapaca</li>
            <li>Comuna: Colchane</li>
            <li>Tipo de pedido: Verdura</li>
            <li>Descripcion: Necesito consumir mi peso en apio para un challenge de internet.</li>
            <li>Cantidad: 87 kilos</li>
            <li>Nombre del Solicitante: Mara Pizarro</li>
            <li>Email del Solicitante: maracion@gmail.com</li>
            <li>Celular de Contacto: </li>
        </ul>
    </div>
    <div id="2" class="invisible">
        <ul>
            <li>Region: Atacama</li>
            <li>Comuna: Copiapo</li>
            <li>Tipo de pedido: Verdura</li>
            <li>Descripcion: NECESITO BERENJENAS.</li>
            <li>Cantidad: 10</li>
            <li>Nombre del Solicitante: Baby Ganoush</li>
            <li>Email del Solicitante: eggeplante@gmail.com</li>
            <li>Celular de Contacto: +5699214897</li>
        </ul>
    </div>
    <div id="3" class="invisible">
        <ul>
            <li>Region: Region Metropolitana</li>
            <li>Comuna: Santiago</li>
            <li>Tipo de pedido: Verdura</li>
            <li>Descripcion: Necesito recuperar los zapallitos que done.</li>
            <li>Cantidad: 3 zapallos</li>
            <li>Nombre del Solicitante: Eric Kitchencenter</li>
            <li>Email del Solicitante: erikench@gmail.com</li>
            <li>Celular de Contacto: </li>
        </ul>
    </div>
    <div id="4" class="invisible">
        <ul>
            <li>Region: Region Metropolitana</li>
            <li>Comuna: Ñuñoa</li>
            <li>Tipo de pedido: fruta</li>
            <li>Descripcion: Busco Limones.</li>
            <li>Cantidad: 1 kilo</li>
            <li>Nombre del Solicitante: Pedro Pascal</li>
            <li>Email del Solicitante: peterpascualinas@gmail.com</li>
            <li>Celular de Contacto: </li>
        </ul>
    </div>
    <div id="5" class="invisible">
        <ul>
            <li>Region: Valparaiso</li>
            <li>Comuna: Algarrobo</li>
            <li>Tipo de pedido: Otros</li>
            <li>Descripcion: Busco Huevos.</li>
            <li>Cantidad: 1 Docena</li>
            <li>Nombre del Solicitante: Ricardo Arjona</li>
            <li>Email del Solicitante: richards@gmail.com</li>
            <li>Celular de Contacto: </li>
        </ul>
    </div>
    <script lang="en" src="listas.js"></script>

</body>

</html>