<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./donaciones.css">
    <title>Document</title>
</head>

<body>
    <div id="1" class="invisible">
        <ul>
            <li>Region: Region Metropoltana</li>
            <li>Comuna: Vitacura</li>
            <li>Calle y Numero: Callefalsa 123</li>
            <li>Tipo Donacion: Fruta</li>
            <li>Cantidad: 1</li>
            <li>Fecha Disponibilidad: 15-08-2023</li>
            <li>Descripcion: Quiero donar una naranja completamente regular.</li>
            <li>Condiciones para Retirar: Debe tener malla en las ventanas si vive en departamento, traer jaula de
                mascotas.</li>
            <li>Nombre Donante: Andres Basaez</li>
            <li>Email de Contacto: andresbasaezv@gmail.com</li>
            <li>Celular de Contacto: +56992141599</li>
            <li>Fotos Donacion: </li>
            
        </ul>
        <img src="naranjanormal.jpg" alt="una naranja regular" style="width:640px;height:480px;">
            <img src="naranja2.jpeg" alt="literalmente una naranja" style="width:640px;height:480px;">
    </div>
    <div id="2" class="invisible">
        <ul>
            <li>Region: O'Higgins</li>
            <li>Comuna: Rancagua</li>
            <li>Calle y Numero: Avenida inexistente 0000</li>
            <li>Tipo Donacion: Verdura</li>
            <li>Cantidad: 2</li>
            <li>Fecha Disponibilidad: 13-06-2023</li>
            <li>Descripcion: REGALO DOS TOMATES</li>
            <li>Condiciones para Retirar: </li>
            <li>Nombre Donante: TONY MAMMAMIA</li>
            <li>Email de Contacto:SPAGHETTIPESTO@PIZZATOWER.COM</li>
            <li>Celular de Contacto:</li>
            <li>Fotos Donacion:</li>
        </ul>
        <img src="chillingtomatoes.jpeg" alt="gato mirando tomates" style="width:640px;height:480px;">

    </div>
    <div id="3" class="invisible">
        <ul>
            <li>Region: Region Metropolitana</li>
            <li>Comuna: Santiago</li>
            <li>Calle y Numero: Blanco Encalada 99</li>
            <li>Tipo Donacion: Verdura</li>
            <li>Cantidad: 3</li>
            <li>Fecha Disponibilidad: 14-06-2023</li>
            <li>Descripcion:zapallitos,,,</li>
            <li>Condiciones para Retirar: permuto por pellets</li>
            <li>Nombre Donante: Eric Kitchencenter</li>
            <li>Email de Contacto: nyveon@gaming.cl</li>
            <li>Celular de Contacto:</li>
            <li>Fotos Donacion:</li>
        </ul>
        <img src="smelzuchinni.jpeg" alt="gato mirando tomates" style="width:640px;height:480px;">

    </div>
    <div id="4" class="invisible">
        <ul>
            <li>Region: Region Metropolitana</li>
            <li>Comuna: Ñuñoa</li>
            <li>Calle y Numero: Av Chanchiwawi 360</li>
            <li>Tipo Donacion: Verdura</li>
            <li>Cantidad: 10</li>
            <li>Fecha Disponibilidad: 14-12-2023</li>
            <li>Descripcion: Tengo demasiada betarraga ayuda</li>
            <li>Condiciones para Retirar:</li>
            <li>Nombre Donante: Seb Philippi</li>
            <li>Email de Contacto: chainsawm3n@gmail.com</li>
            <li>Celular de Contacto:</li>
            <li>Fotos Donacion:</li>
        </ul>
        <img src="10betarragas.jpg" alt="saben a barro" style="width:640px;height:480px;">

    </div>
    <div id="5" class="invisible">
        <ul>
            <li>Region: Region Metropolitana</li>
            <li>Comuna: Colina</li>
            <li>Calle y Numero: colinavenue 11</li>
            <li>Tipo Donacion: Fruta</li>
            <li>Cantidad: 1</li>
            <li>Fecha Disponibilidad:14-11-2023</li>
            <li>Descripcion:Regalo UNA (1) UVA</li>
            <li>Condiciones para Retirar:</li>
            <li>Nombre Donante: Diego Reyes</li>
            <li>Email de Contacto: Tochisgo@neopets.com</li>
            <li>Celular de Contacto: +5611111111</li>
            <li>Fotos Donacion:</li>
        </ul>
        <img src="uvas.jpeg" alt="saben a barro" style="width:640px;height:480px;">

    </div>
    <button type="button" id="inicio" onclick="inicio()">
        Volver al inicio.
    </button>

    <script lang="en" src="listas.js"></script>
</body>


</html>