<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./table.css">
    <title>Ver Donaciones</title>
</head>
<body>
    <table class="table">
        <tr>
          <th>Comuna</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Foto</th>
        </tr>
        <tr id="1">
            <th>Vitacura</th>
            <th>Fruta</th>
            <th>1</th>
            <th>15-08-2023</th>
            <th>Andres Basaez</th>
            <th><img src="naranjanormal.jpg" alt="una naranja regular" style="width:120px;height:120px;"></th>
        </tr>
        <tr id="2">
            <th>Rancagua</th>
            <th>Verdura</th>
            <th>2</th>
            <th>13-06-2023</th>
            <th>Tony Mammamia</th>
            <th><img src="chillingtomatoes.jpeg" alt="tomates chilleando" style="width:120px;height:120px;"></th>
        </tr>
        <tr id="3">
            <th>Santiago</th>
            <th>Verdura</th>
            <th>3</th>
            <th>14-06-2023</th>
            <th>Eric Kitchencenter</th>
            <th><img src="smelzuchinni.jpeg" alt="torre de zapallos" style="width:120px;height:120px;"></th>
        </tr>
        <tr id="4">
            <th>Ñuñoa</th>
            <th>Verdura</th>
            <th>10</th>
            <th>14-12-2023</th>
            <th>Seb Phillips</th>
            <th><img src="10betarragas.jpg" alt="caleta de betarragas" style="width:120px;height:120px;"></th>
        </tr>
        <tr id="5">
            <th>Colina</th>
            <th>Fruta</th>
            <th>1</th>
            <th>14-11-2023</th>
            <th>Diego Reyes</th>
            <th><img src="uvas.jpeg" alt="caleta de betarragas" style="width:120px;height:120px;"></th>
        </tr>
      </table>
      <script lang="en" src="tablas.js"></script>
</body>
</html>