<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./table.css">
    <title>Ver Pedidos</title>
</head>
<body>
    <table  class="table">
        <tr>
          <th>Comuna</th>
          <th>Tipo</th>
          <th>Descripcion del pedido</th>
          <th>Cantidad</th>
          <th>Nombre del Solicitante</th>
       
        </tr>
        <tr id="1">
            <th>Colchane</th>
            <th>Verdura</th>
            <th>Necesito consumir mi peso en apio para un challenge de internet</th>
            <th>87 kilos</th>
            <th>Mara Pizarro</th>
        </tr>
        <tr id="2">
            <th>Copiapo</th>
            <th>Verdura</th>
            <th>NECESITO BERENJENAS</th>
            <th>10</th>
            <th>Baby Ganoush</th>
        </tr>
        <tr id="3">
            <th>Santiago</th>
            <th>Verdura</th>
            <th>Necesito recuperar los zapallitos que done</th>
            <th>3 zapallos</th>
            <th>Eric Kitchencenter</th>
        </tr>
        <tr id="4">
            <th>Ñuñoa</th>
            <th>Fruta</th>
            <th>Busco limones</th>
            <th>1 kilo</th>
            <th>Pedro Pascal</th>
        </tr>
        <tr id="5">
            <th>Algarrobo</th>
            <th>Otros</th>
            <th>Busco Huevos</th>
            <th>1 docena</th>
            <th>Ricardo Arjona</th>
        </tr>
      </table>
      <script lang="en" src="tablapedidos.js"></script>
</body>
</html>